<form id="order-form" role="form">
  <div class="form-group">
    <label for="name">Name: </label>
    <input class="form-control" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="address">Address: </label>
    <input class="form-control" id="address" name="address">
  </div>
  <div class="form-group">
    <label for="email">Email: </label>
    <input class="form-control" id="email" name="Email">
  </div>
  <div class="form-group">
    <select id="payment_method">
      <option>Credit Card</option>
      <option>Cash</option>
    </select>
  </div>
  <div class="form-group">
    <label>
      <input type="checkbox" name="delivery"> Delivery?
    </label>
  </div>

  <script>

    var form = $("#order-form")

    var handler = StripeCheckout.configure({
      key: 'pk_test_6pRNASCoBOKtIshFeQd4XMUh',
      image: '/square-image.png',
      token: function(token) {
        OrderSubmission.processOrder(token,form);
      }
    });

    document.getElementById('checkoutSubmit').addEventListener('click', function(e) {
      // Open Checkout with further options
      handler.open({
        name: 'Bob\'s Bagels',
        description: '2 widgets ($20.00)',
        amount: 2000
      });
      e.preventDefault();
    });
  </script>

  <div class="form-group">
    <input class="btn btn-primary" type="submit" id="checkoutSubmit" value="Place Order">
  </div>

  
  
</form>